<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961552547639-idtnjmqv0r46ibjslamjjhil3qiuubud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961552547639-idtnjmqv0r46ibjslamjjhil3qiuubud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>961552547639-64ummlcjpghvplm534sv44t43i76jhvs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUvoeehyekxBXvnhUQw9wmoRttMY148hg</string>
	<key>GCM_SENDER_ID</key>
	<string>961552547639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uricsc305.safenest</string>
	<key>PROJECT_ID</key>
	<string>safenest-20df7</string>
	<key>STORAGE_BUCKET</key>
	<string>safenest-20df7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961552547639:ios:87f6e97af776ef72d6a4b2</string>
</dict>
</plist>